.sectionContent {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.langs {
    height: 66%;
    max-width: 960px;
    padding: 16px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.langs h2 {
    font-family: 'TiltNeon', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
}